#game-area {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px);
  background: url('../../../public/assets/imgs/space-background.gif') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}


#score, #timer {
  color: var(--white-color);
  position: absolute;
  top: 60px;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: var(--text-shadow);
  z-index: 1;
}

#score {
  left: 10px;
}

#timer {
  right: 10px;
}
