.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

.modal-content {
  background-color: var(--transparent-modal);
  color: var(--white-color);
  border: 10px groove var(--white-color);
  border-radius: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  color: var(--highlight-color);
  border: none;
  position: relative;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  border: none;
}

.modal-footer .left-buttons {
  display: flex;
}

.modal-footer .right-buttons {
  display: flex;
  gap: 10px;
}
