
.records-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
}

.records-table th,
.records-table td {
  padding: 12px 15px;
  border: 1px solid #444444;
}

.records-table th {
  background-color: #555555;
  color: var(--white-color);
  font-weight: bold;
}


.records-table tr:nth-child(odd) {
  background-color: transparent;
  color: var(--white-color);
}

.records-table tr:nth-child(even) {
  background-color: var(--dark-gray-color);
  color: var(--white-color);
}

.records-table tr:hover {
  background-color: var(--light-gray-color);
}
