:root {
  --primary-color: #28A745;
  --hover-primary-color: #218838;
  --active-primary-color: #1e7e34;
  --secondary-color: #DC3545;
  --hover-secondary-color: #c82333;
  --active-secondary-color: #bd2130;
  --tertiary-color: #007bff;
  --hover-tertiary-color: #0056b3;
  --active-tertiary-color: #004085;
  --highlight-color: #C9C903;
  --laser-color: #ff0000;
  --black-color: #1E1E1E;
  --white-color: #FFFFFF;
  --gray-color: #495057;
  --dark-gray-color: #717375;
  --light-gray-color: #c9c9c9;
  --box-shadow-primary: rgba(0, 167, 69, 0.25);
  --box-shadow-secondary: rgba(220, 53, 69, 0.25);
  --box-shadow-highlight: rgba(201, 201, 3, 0.5);
  --transparent-dark-gray: rgba(113, 115, 117, 0.8);
  --transparent-light-gray: rgba(113, 115, 117, 0.4);
  --transparent-highlight: rgba(201, 201, 201, 0.3);
  --transparent-white: rgba(255, 255, 255, 0.1);
  --transparent-nav-bar:  rgba(52, 58, 64, 0.6);
  --transparent-modal: rgba(52, 58, 64, 0.8);
  --text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: 'Press Start 2P', cursive;
  background-image: url('../public/assets/imgs/background.gif');
}

h1, p {
  color: var(--white-color);
}

.form-control {
  background-color: var(--gray-color);
  color: var(--white-color);
  border: 1px solid var(--dark-gray-color);
  &:focus {
    background-color: var(--dark-gray-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    box-shadow: 0 0 0 .2rem var(--box-shadow-primary);
  }
}

.error-message-container {
  position: absolute;
  width: 100%;
  top: 62px;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.alert-danger {
  color: #721c24;
  background-color: rgba(248, 215, 218, 0.5);
  border-color: #f5c6cb;
  padding: 4px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 550px;
}

.container form {
  width: 100%;
  max-width: 500px;
}

.form-group input {
  height: 60px;
}

.container .header {
  width: 100%;
}

.container .content {
  width: 100%;
  padding-top: 20px;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: var(--hover-primary-color);
    border-color: var(--active-primary-color);
  }
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem var(--box-shadow-primary);
  }
  &:disabled {
    background-color: var(--dark-gray-color);
    border-color: var(--dark-gray-color);
    &:hover {
      background-color: var(--dark-gray-color);
      border-color: var(--dark-gray-color);
    }
  }
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: var(--hover-secondary-color);
    border-color: var(--active-secondary-color);
  }
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem var(--box-shadow-secondary);
  }
}

.btn-custom {
  background-color: transparent;
  border: 4px solid var(--white-color);
  border-radius: 5px;
  transition: transform 0.3s ease;

  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: transparent;
    color: var(--highlight-color);
    border: 4px solid var(--highlight-color);
    transform: scale(1.1);
  }
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem var(--box-shadow-highlight);
  }
}

.section {
  padding: 20px;
}
