<div class="container mt-5">
  <div class="header">
    <h1>Welcome to Space Battle!</h1>
  </div>
  <div class="content">
    <p *ngIf="username" id="userGreeting">Hello, <span class="username">{{ username }}</span></p>
    <p>Get ready to destroy alien invaders and earn points!</p>
    <ul class="how-to-play">
      <li> <span class="text-highlight">Move:</span> Move your <span class="text-highlight">mouse</span> or press <span class="text-highlight">< ></span> on your <span class="text-highlight">keyboard</span> to move the spaceship.</li>
      <li><span class="text-highlight">Fire:</span> Press <span class="text-highlight">Space Bar</span> or <span class="text-highlight">Left Click</span>.</li>
    </ul>
    <app-button btnClass="btn btn-custom" routerLink="/play">Play Game</app-button>
  </div>
</div>
